@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Medium.ttf) format("truetype");
}

body {
  font-family: "Open Sans";
  font-style: normal;
  background-color: #020A18;
  color: #FFFFFF;
}

.header {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #FFFFFF 260.24%);
  opacity: 0.02;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 75px;
}

.header__content {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 195px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-right: 8px;
}

.title-logo {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22.5455px;
  line-height: 31px;
  color: #3A68B8;
}

.header__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.header-button {
  position: absolute;
  right: 55px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.content__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
}

.body__content-v1 {
  position: absolute;
  gap: 30px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, rgba(255, 255, 255, 0.4) 260.24%);
  opacity: 0.1;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  z-index: -1;
  height: 1030px;
  width: 100%;
  top: 83px;
}

.body__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
  margin-bottom: 130px;
  gap: 36px;
}

.body__prevue {
  color: #3A68B8;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
}

.body__title {
  width: 604px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
}

.body__description {
  width: 558px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.7;
}

.body__image {
  display: flex;
  margin-bottom: 70px;
}

.body__button {
  display: flex;
  gap: 20px;
}

.button {
  padding: 15px 30px;
  background: #3A68B8;
  border-radius: 5px;
  cursor: pointer;
}

.button__icon {
  width: 16px;
  height: 20px;
}

.button__content {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 3px;
}

.body__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.block {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  width: 362px;
  height: 389px;
  align-items: center;
  text-align: center;
}

.block__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  width: 302px;
}

.block__background {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #FFFFFF 115.68%);
  opacity: 0.1;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  width: 362px;
  height: 389px;
}

.block__image {
  width: 73px;
  height: 69px;
}

.block__description {
  width: 302px;
  height: 104px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
}

.footer {
  position: absolute;
  width: 100%;
  height: 326px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #FFFFFF 260.24%);
  opacity: 0.05;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  z-index: -1;
  border-radius: 10px;
}

.content:last-child {
  margin-bottom: 33px;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
}

.footer_contact {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}

.contact {
  display: flex;
  gap: 8px;
}

.footer__column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  max-width: 261px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.footer__column:first-child {
  display: flex;
  gap: 25px;
}

.footer__column:last-child {
  justify-content: flex-start;
  align-items: baseline;
  gap: 38px;
}

.footer__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.footer__description {
  max-width: 261px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.6;
}

.link {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.6;
}

.network__icon {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
}